<ul class="pagination">
    {% set className = (currentPage == 1) ? 'disabled' : 'waves-effect' %}
    <li class="{{ className }}">
        <a href="{{ url('results/' ~ keywords ~ '/page-1') }}" title="First page">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>

    {% for nbPage in 1..totalPages %}
        {% if (0 == (currentPage - nearbyPagesLimit) - loop.index) or (0 == (currentPage + nearbyPagesLimit) - loop.index) %}
            <li class="disabled">
                <a href="#!" title="Further pages to see">...</a>
            </li>
        {% else %}
            {% set className = (currentPage == loop.index) ? 'active' : 'waves-effect' %}
            <li class="{{ className }}">
                <a href="{{ url('results/' ~ keywords ~ '/page-' ~ loop.index) }}">
                    {{ loop.index }}
                </a>
            </li>
        {% endif %}
    {% endfor %}

    {% set className = (currentPage == totalPages) ? 'disabled' : 'waves-effect' %}
    <li class="{{ className }}">
        <a href="{{ url('results/' ~ keywords ~ '/page-' ~ totalPages) }}" title="Last page">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
</ul>
